extends ./layouts/_index_layout.pug
include ./mixins/_about-us-card.pug
include ./mixins/_inner-header.pug

append variables
	- var page_title = "art gallery";
	- var header_data = {title: page_title, back: { title: "about us", href: "about.html" }, img: { src: "./images/about-us/6.jpg" }, breadcrumb: [{ title: "Home", href: "index.html" }, { title: "about us", href: "about.html" }, { title: page_title, href: "about-art-gallery.html" }]}

block content
	main#about-art-gallery(role="main")
		+inner-header(header_data)
		// Inner Page Article
		article.inner-article
			section.section.section__bg--white.gallery
				.container
					.row.px-0.px-lg-4
						.col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
							.gallery__slider
								.swiper-container#gallery-slider(data-swiper-effect="fade")
									.swiper-wrapper
										each paint, index in gallery
											.swiper-slide
												figure.paint.paint__color--primary.paint__size--lg.wow.fadeIn(data-wow-duration="1s", data-wow-delay="0s")
													.paint__frame(data-swiper-parallax="-200")
														img.paint__image(src=paint.img.src, alt=paint.title)
													figcaption.paint__description.text-center
														.row
															.col-10.offset-1.col-sm-8.offset-sm-2.col-md-6.offset-md-3
																h6.paint__title.wow.fadeIn(data-swiper-parallax="-250", data-wow-duration="1s", data-wow-delay="0s")=paint.title
																small.paint__artist.wow.fadeIn(data-swiper-parallax="-200", data-wow-duration="1s", data-wow-delay="0.2s")=paint.artist
															.col-12.col-md-10.offset-md-1.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
																p.paint__text.wow.fadeIn(data-swiper-parallax="-150", data-wow-duration="1s", data-wow-delay="0.4s")=paint.text
								.gallery__slider-buttons
									.swiper-button-prev.wow.fadeInRight(for="gallery-slider", data-wow-duration="1s", data-wow-delay="0.5s")
									.swiper-button-next.wow.fadeInLeft(for="gallery-slider", data-wow-duration="1s", data-wow-delay="0.5s")
						.col-12
							.gallery__thumbs
								.swiper-container#gallery-thumbs(data-swiper-effect="slide")
									.swiper-wrapper
										each paint, index in gallery
											.swiper-slide
												figure.paint.paint__size--sm-free
													.paint__frame.wow.fadeInRight(data-swiper-parallax="-200", data-wow-duration="1s", data-wow-delay="0.2s")
														img.paint__image(src=paint.img.src, alt=paint.title)
		// Inner Page Article End.
